extends ../layout

block content
  .row-flow
    +sideNav()
  .row-flow.centerme
    .col-md-6.col-sm-12
      if errors
        for error in errors
          h4.error= error
      form(action="/books/#{book.id}/edit" method="post")
        div.form-group
          label(for="title") Title
          input.form-control(type="text" id="title" value= book.title name="title")
          label(for="genre") Genre
          input.form-control(type="text" id="genre" value= book.genre name="genre")
          label(for="cover_url") Cover Image Url
          input.form-control(type="text" id="cover_url" value= book.cover_url name="cover_url")
          label(for="description") Description
          input.form-control(type="text" id="description" value= book.description name="description")
          label(for="author_id") Authors...
          select.form-control(id="author_id" name="author_id")
            option(value= "")
              for author in authors
                option(value= author.id) #{author.first_name} #{author.last_name}
          button.btn.btn-primary(type="submit") Edit A Book
            h1= book.id
            for author in authors
              h1= author.book_id
