extends ../layout
include ../mixins

block content
  body
    .row-flow
      +sideNav()
    .row-flow.centerme
      .col-lg-7.col-md-6.col-sm-10.col-xs-10
        for book in books
          +panel(book.title, 'info')
            .col-md-4.col-lg-4
              img.postimg(src= book.cover_url)
            .col-lg-8.col-md-8
              .row-flow
                .col-md-12.col-lg-12
                  a(href="/books/#{book.id}")
                    h1= book.title
                  h3 By
                    for author in authors
                      if book.id === author.book_id
                        a(href='/authors/#{author.author_id}')
                          h4 #{author.first_name} #{author.last_name}
                  .floatRight.shiftup
                    a(href='/books/#{book.id}/edit').noDec
                      button() Edit
                    if books.length > 1
                      form(action="/books/#{book.id}/delete" method="post")
                        button(type="submit") Remove
              p #{book.description}
              if books.length === 1
                form(action="/books/#{book.id}/delete" method="post")
                  button(type="submit") Delete Book
            
