extends ../layout
include ../mixins

block content
  .row-flow
    +sideNav()
  .row-flow.centerme
    .col-lg-7.col-md-6.col-sm-12
      h1 here are youre moflipping #{title} dig back.
      for book in books
        +panel(book.title, 'info')
          a(href="/books/#{book.id}")
            h1= book.title
          form(action="/books/#{book.id}/delete" method="post")
            button(type="submit") Delete Book
          for author in authors
            if author.book_id === book.id
              h2= author.first_name
