extends ../layout
include ../mixins

block content
  body
    .row-flow
      +sideNav()
    .row-flow.centerme
      .col-lg-7.col-md-6.col-sm-12
        for author in authors
          +panel(author.first_name + ' ' + author.last_name, 'info')
            .col-md-4.col-lg-4
              img.postimg(src= author.portrait_url)
            .col-lg-8.col-md-8
              .row-flow
                .col-md-12.col-lg-12.nameButton
                  a(href="/authors/#{author.id}")
                    h1= author.first_name + author.last_name
                  .floatRight
                    a(href="/authors/#{author.id}/edit")
                      button() Edit
                    if authors.length > 1
                      form(action="/authors/#{author.id}/delete" method="post")
                        button(type="submit") Remove
              p #{author.bio}
              h4.books Books...
                for book in books
                  if author.id === book.author_id
                    a(href="/books/#{book.book_id}")
                      h4= book.title
              if authors.length === 1
                form(action="/authors/#{author.id}/delete" method="post")
                  button(type="submit") Delete Author
